<nav>
    <ul>
        <li class="nav-link">Home</li>
        <li class="nav-link">Custom</li>
        <li class="nav-link">Sedan</li>
        <li class="nav-link">SUV</li>
        <li class="nav-link">Truck</li>
    </ul>
</nav>