/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
  font-family: "Roboto", serif;
}


#top-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    background-color: rgba(185, 183, 183, 0.616);
    padding: 2rem 0 0 0;
    grid-column: 1/-1; /*spans all columns*/
}

.siteName { 
   margin: 10px;
}

.siteName a{
   font-size: 50px;
   font-weight: bold;
   color: black;
   text-decoration: none;
}

#tools{
  margin: 0 20px 50px 0;
}

#tools a{
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

nav {
  background-color: black;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav .nav-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

nav .nav-link:hover {
  color: gray;
}

main{
  display: grid;
}

.hero image{
  width: 100%
}

#herotag {
  display:inline-block;
  position: absolute;
  top: 15%;
  left: 2%;
  width: 15%;
  margin-top: 160px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

#herotag img{
  height: 3rem;
  width: auto;
}

#upgrade-images{
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
}

.upgrades-image{
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.upgrades-image img{
  background-color: rgb(0, 119, 255) ;
  padding: 15px;
  width: 8rem;

}

footer{
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

.copyright{
  color: black;
}


@media (min-width: 768px){
  .info{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .card{}
}

