<% if (title) { %>
    <h1><%= title %></h1>
  <% } %>
  
  <%- messages() %>
  
  <div class="management-container">
    <div class="management-links">
      <h2>Inventory Management Tools</h2>
      <p>Please select from the following options:</p>
      <div class="management-buttons">
        <a href="/inv/add-classification" class="button">Add New Classification</a>
        <a href="/inv/add-inventory" class="button">Add New Vehicle</a>
      </div>
    </div>
    
    <% if (classificationSelect) { %>
    <div class="inventory-management">
      <h2>Manage Inventory</h2>
      <p>Choose a classification to see those inventory items</p>
      <%- classificationSelect %>
      <table id="inventoryDisplay"></table>
    </div>
    <% } %>
  </div>
  
  <noscript>JavaScript must be enabled to use this page.</noscript>
  
  <script src="../../js/inventory.js"></script>